[Unit]
Description=Nettemp Cloud Client
After=network.target

[Service]
Type=simple
User=adminps
WorkingDirectory=/home/adminps/nettemp_client
ExecStart=/usr/bin/python3 /home/adminps/nettemp_client/nettemp.py
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
